<!DOCTYPE html>

{% load static %}

{% load static i18n %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap Ecommerce Template" name="keywords">
        <meta content="Bootstrap Ecommerce Template Free Download" name="description">

        <!-- Favicon -->
        <link href="{% static 'base/img/favicon.ico' %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'base/lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'base/lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Header Start -->
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="{% url 'shopping:products' %}">
                                <img src="{% static 'base/img/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <form class="col-md-6 search" method="GET" action="{% url 'shopping:search' %}">
                            <input name="q" type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                    </form>






                    <div class="col-md-3">
                        <div class="user">
                            <div class="dropdown">
                                {% if request.user.is_authenticated %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }}</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'shopping:account' %}" class="dropdown-item">Account</a>
                                        <a href="{% url 'shopping:logout' %}" class="dropdown-item">Logout</a>
                                    </div>
                                {% else %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'shopping:login' %}" class="dropdown-item">Login</a>
                                        <a href="{% url 'shopping:register' %}" class="dropdown-item">Register</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->


        <!-- Header Start -->
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">{% trans 'MENU' %}</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav m-auto">
                            <a href="{% url 'shopping:home' %}" class="nav-item nav-link {% if request.path == '/' %} active {% endif %}">{% trans 'Home' %}</a>
                            <a href="{% url 'shopping:products' %}" class="nav-item nav-link {% if 'products/' in request.path %} active {% endif %}">{% trans 'Products' %}</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle {% if 'cart' in request.path or 'wishlist' in request.path or 'checkout' in request.path or 'login' in request.path or 'register' in request.path or 'my-account' in request.path or 'product' in request.path and not 'products/' in request.path %} active {% endif %}" \
                                   data-toggle="dropdown">{% trans 'Pages' %}</a>
                                <div class="dropdown-menu">
                                    <a href="product-list.html" class="dropdown-item">{% trans 'Product' %}</a>
                                    <a href="{% url 'shopping:cart' %}" class="dropdown-item">{% trans 'Cart' %}</a>
                                    <a href="{% url 'shopping:wishlist' %}" class="dropdown-item">{% trans 'Wishlist' %}</a>
                                    <a href="{% url 'shopping:checkout' %}" class="dropdown-item">{% trans 'Checkout' %}</a>
                                    <a href="{% url 'shopping:login' %}" class="dropdown-item">{% trans 'Login & Register' %}</a>
                                    <a href="{% url 'shopping:account' %}" class="dropdown-item">{% trans 'My Account' %}</a>
                                </div>
                            </div>
                            <a href="{% url 'shopping:contact' %}" class="nav-item nav-link {% if 'contact/' in request.path %} active {% endif %}">{% trans 'Contact Us' %}</a>
                        </div>
                        <form action="{% url 'set_language' %}" method="post" class="form-inline">
                          {% csrf_token %}
                          {% get_current_language as CURRENT_LANG %}
                          {% get_available_languages as LANGUAGES %}
                          <select name="language" onchange="this.form.submit()" class="form-control">
                            {% for code, name in LANGUAGES %}
                              <option value="{{ code }}" {% if code == CURRENT_LANG %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                          </select>
                          <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        </form>

                    </div>
                </nav>
            </div>
        </div>
        <!-- Header End -->

        {%block content%} {%endblock%}

        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h1>E Shop</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin rutrum massa. Suspendisse sollicitudin rutrum massa. Vestibulum porttitor, metus sed pretium elementum, nisi nibh sodales quam, non lobortis neque felis id mauris.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Useful Pages</h3>
                            <ul>
                                <li><a href="{{ products_url }}">Product</a></li>
                                <li><a href="{{ cart_url }}">Cart</a></li>
                                <li><a href="{{ checkout_url }}">Checkout</a></li>
                                <li><a href="{{ login_url }}">Login & Register</a></li>
                                <li><a href="{{ account_url }}">My Account</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul>
                                <li><a href="{{ products_url }}">Product</a></li>
                                <li><a href="{{ cart_url }}">Cart</a></li>
                                <li><a href="{{ checkout_url }}">Checkout</a></li>
                                <li><a href="{{ login_url }}">Login & Register</a></li>
                                <li><a href="{{ account_url }}">My Account</a></li>
                                <li><a href="{{ wishlist_url }}">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>123 E Shop, Los Angeles, CA, USA</p>
                                <p><i class="fa fa-envelope"></i>email@example.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                                <div class="social">
                                    <a href="{{twitter}}"><i class="fa fa-twitter"></i></a>
                                    <a href="{{facebook}}"><i class="fa fa-facebook"></i></a>
                                    <a href="{{linkedin}}"><i class="fa fa-linkedin"></i></a>
                                    <a href="{{instagram}}"><i class="fa fa-instagram"></i></a>
                                    <a href="{{youtube}}"><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row payment">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <p>We Accept:</p>
                            <img src="{% static 'base/img/payment-method.png' %}" alt="Payment Method" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-security">
                            <p>Secured By:</p>
                            <img src="{% static 'base/img/godaddy.svg' %}" alt="Payment Security" />
                            <img src="{% static 'base/img/norton.svg' %}" alt="Payment Security" />
                            <img src="{% static 'base/img/ssl.svg' %}" alt="Payment Security" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
                    </div>

                    <div class="col-md-6 template-by">
                        <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->


        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'base/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'base/lib/slick/slick.min.js' %}"></script>


        <!-- Template Javascript -->
        <script src="{% static 'base/js/main.js' %}"></script>


        <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type)) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        </script>


    </body>
</html>
